/*****************************************************************************************
-fcoo-settings.scss,

setting-modernizr( $setting-group-id: global-setting, $setting-id, $value-list: () )
$setting-group-id: global-setting,
$setting-id: The is of the setting
$value-list: List of possible values of setting-id. If empty list => setting-id har an boolean value

Ex:
@include setting-modernizr($setting-id: TEST, $value-list:(NONE ALL TEST));
Create css to make it able to use classes "show-for-global-setting-TEST-ALL" and "hide-for-global-setting-TEST-NONE"
*****************************************************************************************/
@mixin setting-modernizr( $setting-group-id: global-setting, $setting-id, $value-list: () ){
    $prefix: $setting-group-id + '-' + $setting-id;

    @if length($value-list) == 0 {
        @include show-and-hide-for-modernizr-test(
            $modernizr-test      : #{$prefix},
            $parent-element-type : '',
            $incl-no-selector    : false,
            $display-value       : '',
            $incl-table-display  : false,
            $only-direct-children: false
        );

    }
    @else {
        @each $value in $value-list {
            @include show-and-hide-for-modernizr-test(
                $modernizr-test      : #{$prefix} + '-' + #{$value},
                $parent-element-type : '',
                $incl-no-selector    : false,
                $display-value       : '',
                $incl-table-display  : false,
                $only-direct-children: false
            );
        }
    }
}
